*{
    box-sizing: border-box;
}
body{
    background: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.first-table{
    margin: 100px auto;
}

/* signIn div */
.signIn{
    background: #f8f8f8;
    /* display: inline-block; */
    padding: 90px 120px;
    margin: 60px 0 50px 50px;;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    transition: all ease;
    /* margin-left: */
    /* transform: translate(50% 50%); */
    /* align-items: center; */
}

/* sign in btn color */
.btn-color{
    background: linear-gradient(to right, #BEF757, #57F768 80%);
    color: #FFFFFF;
    padding: 12px;
    width: 16rem;
}


h1{
    text-align: left;
    font-weight: 100;
    font-family: sans-serif;
    color: #A9A9A9;
    padding: 0 12px;
}

input{
    border-radius: 30px;
    padding: 15px 10px;
    /* margin-left: auto;
    margin-right: auto; */

    margin-bottom: 15px;
    border: 1px solid #D3D3D3;
    outline: none;
    width: 16rem;
    
}

.text-signIn{
    font-size: 15px;
    text-align: left;
    color: #A9A9A9;
    margin-top: -6px;
    padding: 8px 10px;
}

.signIn:hover{
    transform: scale(1.1);
}

input::placeholder{
    color: #A9A9A9;
}

/* signUp div */
.signUp{
        background: rgba(115, 196, 62, .8);
        /* display: inline; */
        padding: 60px 50px; 
        border-radius: 10px;
        text-align: justify; 
        /* text-transform: capitalize; */
        height: 500px;  
        width: 500px;
        color: #f6ececde;
}

h4{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 1px;
}


/* sign Up btn color */
.transparent-btn{
    background:transparent;
    color: #FFFFFF;
    font-size: medium;
    margin-top: 15px;
    padding: 12px 20px; 
    width: 8rem;
}

p{
        font-size: medium;
}


